*,
*::after,
*::before {
  box-sizing: border-box;
}

.body {
  margin: 0;
}

.error {
  display: inline-block;
  outline: 1px solid red;
  background-color: oklch(92.494% 0.00011 271.152);
  padding: 0.5rem 1rem;
  color: red;
  font-weight: bold;
}

.success {
  display: inline-block;
  outline: 1px solid green;
  background-color: oklch(92.494% 0.00011 271.152);
  padding: 0.5rem 1rem;
  color: green;
  font-weight: bold;
}
